.container_vign {
  position: relative;
  width: 350px; /* ajustez la largeur selon vos besoins */
  height: 250px; /* ajustez la hauteur selon vos besoins */
}

.image_vign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hide {
  display: none;
}

.text_vign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}
