.container_vign {
  position: relative;
  width: 100%;
  height: 350px;
}

.image_vign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hide {
  display: none;
}

.text_vign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  border-radius: 0 0 25px 25px;
}
